<%- include('partical/header'); -%>

<body>

    <% if(dest ==='list') { %>
    <div class="container bg-light" style="padding:5%">
        <center>
            <h2>Product List<a class="btn btn-success float-right" href="/products/addProduct">AddProduct</a></h2>
        </center>

        <br>
        <div class="row">
            <% for(var i=0; i < list.length; i++) { %>
            <div class="col-3">
                <div class="card" style="width:260px">
                    <img class="card-img-top" src="<%= list[i].productImage %>" width="200" height="140" alt="" />

                    <div class="card-body">
                        <h4 class="card-title">Name:
                            <%= list[i].name %>
                        </h4>
                        <p class="card-text">Price:
                            <%= list[i].price %>
                        </p>
                        <p class="card-text">id:
                            <%= list[i].id %>
                        </p>
                        <a href="/order/addOrder/<%= list[i].id %>" class="btn btn-primary">Order</a>
                        <a href="products/<%= list[i].id %>" class="btn btn-info">Details</a>
                        <a class="btn btn-danger float-right" href="/products/delete/<%= list[i].id %>">Delete</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
            <% } %>
        </div>

    </div>
    <% } if(dest=='single'){ %>
    <div class="container bg-light" style="padding:5%">
        <center>
            <h2>Product Details
                <a class="btn btn-secondary float-right" href="/products"><i class="fa fa-list-alt"></i> View All</a></h2>
        </center>

        <br>
        <div class="row">
            <div class="col-3">
                <div class="card" style="width:250px">
                    <img class="card-img-top" src="<%=list.productImage %>" width="200" height="140" alt="" />

                    <div class="card-body">
                        <h4 class="card-title">Name:
                            <%= list.name %>
                        </h4>
                        <p class="card-text">Price:
                            <%= list.price %>
                        </p>
                        <p class="card-text">id:
                            <%= list.id %>
                        </p>
                        <a href="#" class="btn btn-primary">Order</a>
                        <a href="/products" class="btn btn-info">Cancel</a>
                    </div>
                </div>
                <br>
            </div>
            <br>
        </div>

    </div>
    <% } %>
</body>

</html>